<template>
  <q-page class="q-pa-md">
    <div class="q-pb-sm">
      <q-btn @click="toCamera()" label="Camera" icon="camera" color="red" />
    </div>
    <div
      class="q-pb-sm"
      v-for="(history, key) in history"
      :key="key"
      dark
      color="amber"
    >
      <q-card class="my-card">
        <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" basic>
          <div class="absolute-bottom text-subtitle2 text-center">
            {{ history.total }}
          </div>
        </q-img>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState("history", ["history"])
  },
  methods: {
    toCamera() {
      this.$router.push("/");
    }
  }
};
</script>

<style></style>
